@font-face {
  font-family: "Mighty Souly";
  src: url("./assets/fonts/MightySouly.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset Default Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
}

/* Left side of site */

.left-side {
  background-image: url("./assets/images/pink-building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  width: 37vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  flex-shrink: 0;
}

.logo-background-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(3 * 100% / 5);
  justify-content: center;
}

.logo-background {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.55rem 0;
}

.logo {
  height: 6.25rem;
}

.logo-text {
  font-family: "Mighty Souly", sans-serif;
  font-size: 4rem;
  color: #FFF;
}

.background-img-credit {
  margin-top: auto;
  text-align: center;
  font-size: 0.85rem;
}

.background-img-credit, 
.credit-link {
  color: #FFF;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


/* Right side of site */
.description {
  padding: 8.25rem 8rem 0 2.5rem;
}

.description {
  font-weight: 500;
  font-size: 1.2rem;
}

.italic {
  font-style: italic;
}

.description p {
  margin-bottom: 1.25rem;
}

.description p:last-child {
  margin-bottom: 2.75rem;
}


/* Form Styling */
.form-container {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 1rem 8rem 1rem 2.5rem;
  color: #1F2937;
}

.form-title {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-bottom: 1.25rem;
}

.form-row {
  display: flex;
  gap: 3.55rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group:not(last-child) {
  margin-bottom: 1.05rem;
}

label {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.085rem;
  margin-bottom: 0.1rem;
}

input {
  border: 0.1rem solid #E5E7EB;
  border-radius: 0.2rem;
  height: 1.6rem;
  width: 13rem;
  padding: 0 0.43rem;
  font-family: inherit;
}

input:focus {
  outline: none;
  border-color: #5478db;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

input:invalid {
  border-color: #C64646;
}

.form-actions {
  padding: 1.75rem 8rem 0 2.5rem;
}

button[type="submit"] {
  background-color: #B8827C;
  color: #FFF;
  font-weight: bold;
  font-size: 0.86rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 2.65rem;
  margin-bottom: 1.8rem;
  box-shadow: 0.1rem 0.25rem 0.2rem rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(184, 130, 124, 0.8);
}

.form-actions p {
  font-size: 0.9rem;
}

.log-in-link {
  font-weight: bold;
  text-decoration: none;
  color: #B8827C;
}

.log-in-link:visited {
  color: #374523;
}

.log-in-link:hover {
  color: rgba(184, 130, 124, 0.8); 
}

.log-in-link:active {
  color: rgba(184, 130, 124, 0.5); 
}